* {
  margin: 0;
  padding: 0;
  font-smoothing: all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* Global configurations */
html, a, p, h1, h2, h3, h4, div, span, button, input {
  transition: 0.3s all ease;
  font-family: "Inter", sans-serif;
  -webkit-appearance: none;
}

html {
  /* Scroll smooth animatio */
  /* Not support in IE, or Safari */
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, b, strong {
  color: #333333;
}

p {
  color: #777777;
}

a {
  text-decoration: none;
  color: #349589;
}

p a {
  background-color: rgba(52, 149, 137, 0.8);
  color: #FFF;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(74, 74, 74, 0.5);
}

.typography-hero {
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.05;
}

.typography-hero-copy {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.007em;
}

header {
  display: flex;
  display: -webkit-flex;
  /* For browsers with WEBKIT */
  /* Vertical align to center */
  align-items: center;
  justify-content: center;
  /* END */
  text-align: center;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/collin-armstrong-8FxJi5wuwKc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-blend-mode: multiply;
}
header h1 {
  color: #FFF;
  font-size: 40pt;
}
header h1 small {
  font-size: 32pt;
  font-weight: 200;
  font-style: italic;
}

/* ------------------------------------------------ */
/* ------------------- MENU BAR ------------------- */
/* ------------------------------------------------ */
.menu-bar {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 16pt;
  padding-left: 0pt;
  padding-bottom: 16pt;
  padding-right: 0pt;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px) saturate(5);
  -webkit-backdrop-filter: blur(8px) saturate(5);
}
.menu-bar ul {
  list-style: none;
}
.menu-bar li {
  display: inline-block;
}
.menu-bar a {
  padding: 8pt 16pt;
  color: #333333;
}
.menu-bar a:hover {
  color: #349589;
}
.menu-bar .showcase {
  font-weight: bolder;
  text-transform: uppercase;
}

.showcaseResp {
  display: none;
  font-weight: bolder;
  text-transform: uppercase;
}

.container {
  padding: 32pt 32pt;
  width: 100%;
  max-width: 1360px;
  margin: auto;
}
.container--article {
  background-color: #F2F2F2;
  border-radius: 20px;
}
.container--article:nth-child(even) {
  background-color: #FFF;
}

/* ------------------------------------------------ */
/* ------------------- Articles ------------------- */
/* ------------------------------------------------ */
.article {
  display: grid;
  grid-gap: 40pt;
  grid-template-columns: 1fr 1fr;
  padding-top: 32pt;
  padding-bottom: 32pt;
  padding-left: 0pt;
  padding-right: 0pt;
}
.article .content {
  margin-top: 32pt;
  margin-bottom: 32pt;
  margin-left: 0pt;
  margin-right: 0pt;
}
.article img {
  width: 100%;
  border-radius: 5px;
  cursor: no-drop;
}
.article h3 {
  font-size: 22pt;
  margin-bottom: 32pt;
}
.article p {
  line-height: calc(8pt * 3);
}

.submit {
  margin-top: 50px;
  background-color: rgba(52, 149, 137, 0.05);
  text-align: center;
  position: relative;
}
.submit .newsletterIcon {
  display: block;
  margin: 35px auto;
  width: 200px;
}
.submit h1 {
  text-transform: uppercase;
  font-size: 2.8em;
  font-weight: bolder;
}
.submit p {
  font-size: 1.2em;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  position: relative;
  width: 500px;
  padding: 40px;
}

.input-field {
  position: relative;
  height: 40px;
  width: 100%;
  margin: auto;
}
.input-field input[type=text] {
  position: absolute;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 16px;
  width: 100%;
}
.input-field input[type=text]:focus + label, .input-field input[type=text]:valid + label {
  transform: translateY(-35px);
  font-size: 14px;
  color: #FFF;
  background: red;
  padding: 2px 6px;
}
.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: block;
  transition: 0.5s;
}
.input-field span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: green;
  width: 100%;
  height: 2px;
}
.input-field span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0FF;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s all ease-in-out;
}
.input-field:focus + span::before, .input-field:valid + span::before {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.5s all ease-in-out;
}

#about .wrapper {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0)), url("../images/Guayaquil.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  display: -webkit-flex;
}
#about h1 {
  font-weight: 600;
  line-heihgt: 1.05;
  color: #FFF;
}
#about p {
  margin-top: 20px;
  color: #FFF;
}

/* -------------------------------------------- */
/* ------------------- MODS ------------------- */
/* -------------------------------------------- */
[text-to-left] {
  text-align: left;
}

[text-to-right] {
  text-align: right;
}

[a-title-l] {
  border-left: 8px solid #349589;
  padding-left: 20px;
}

[a-title-r] {
  border-right: 8px solid #349589;
  padding-right: 20px;
}

::-moz-selection {
  color: #FFF;
  background: #349589;
}

::selection {
  color: #FFF;
  background: #349589;
}

#breadcrumb {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}
#breadcrumb a {
  padding: 0px 5px;
  text-transform: uppercase;
  font-size: 11px;
}
#breadcrumb a:nth-child(n):before {
  content: ">";
  margin-right: 10px;
}
#breadcrumb a:nth-last-child(1) {
  color: #FFF;
}
#breadcrumb a:hover {
  color: #e6e6e6;
}

/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: #151616;
  }

  p {
    color: #81858B;
  }

  .container--article {
    background-color: #151616;
    border-radius: 0;
  }

  .container--article:nth-child(even) {
    background-color: #1C1D1D;
  }

  .container--article h3 {
    color: #FFF;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: #FFF;
  }

  .submit {
    background-color: #1C1D1D !important;
  }

  .submit h1 {
    color: rgba(255, 255, 255, 0.8);
  }

  .submit input[type=email] {
    background-color: #151616;
    color: #FFF;
  }

  button, input[type=submit], input[type=button] {
    display: block;
    margin-top: 25px;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  .navigation.active {
    background-color: #1C1C1C !important;
  }

  .toggle {
    filter: invert(0) !important;
  }
  .toggle.active {
    filter: invert(0) !important;
  }
}
@media screen and (max-width: 1364px) {
  .container--article {
    border-radius: 0 !important;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 1024px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 1024px */
@media screen and (max-width: 1024px) {
  .article .content {
    margin-top: 0 !important;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 930px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 930px */
@media screen and (max-width: 930px) {
  .article .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* --------------------------------------------------- */
/* ------------------- screen: 800 ------------------- */
/* --------------------------------------------------- */
/* MEDIA SCREEN FOR 800PX */
@media screen and (max-width: 800px) {
  header {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .article {
    display: block;
  }

  .article .content {
    margin-top: 32px;
  }

  .article h3 {
    margin-bottom: 16pt;
  }

  .article img {
    display: none;
  }

  #security,
#networking,
#ti {
    margin-bottom: 20px;
    backdrop-filter: saturate(50px);
    -webkit-backdrop-filter: saturate(50px);
  }

  #security {
    background-image: url("../images/milosz-klinowski-BW0d0IllW8E-unsplash.jpg");
  }

  #networking {
    background-image: url("../images/jordan-harrison-40XgDxBfYXM-unsplash.jpg");
  }

  #ti {
    background-image: url("../images/elly-brian-s_C8yBxJyvM-unsplash.jpg");
  }

  #security, #networking, #ti {
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }
  #security .article .content h3, #networking .article .content h3, #ti .article .content h3 {
    color: #FFF;
  }
  #security .article .content p, #networking .article .content p, #ti .article .content p {
    color: #FFF;
  }

  .submit {
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 5px;
  }

  .submit input[type=submit] {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
  }

  .submit .img4 {
    display: none;
  }

  [text-to-left] {
    text-align: left;
  }

  [text-to-right] {
    text-align: left;
  }

  [a-title-l] {
    border-left: 8px solid #349589;
    padding-left: 20px;
  }

  [a-title-r] {
    border-left: 8px solid #349589;
    border-right: none;
    padding-left: 20px;
  }

  /* --------------------------------------------------- */
  /* ------------------- About ------------------------- */
  /* --------------------------------------------------- */
  .typography-hero {
    font-size: 56px;
    font-weight: bolder;
    line-heihgt: 1.05;
  }

  .typography-hero-copy {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.007em;
  }

  .container--article {
    border-radius: 0;
  }
}
/* --------------------------------------------------- */
/* ------------------- 700px ------------------------- */
/* --------------------------------------------------- */
@media screen and (max-width: 700px) {
  .menu-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-bar ul {
    display: none;
  }
  .menu-bar .showcaseResp {
    padding: 0 !important;
  }

  .navigation {
    background: white;
  }

  .navigation.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    text-transform: uppercase;
  }
  .navigation.active li {
    padding: 20px 0px;
  }
  .navigation.active .showcase {
    display: none;
  }

  /* --------------------------------------------------- */
  /* ------------------- About ------------------------- */
  /* --------------------------------------------------- */
  .typography-hero {
    font-size: 38px;
    font-weight: bolder;
    line-heihgt: 1.05;
  }

  .typography-hero-copy {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.007em;
  }

  .showcaseResp {
    display: block;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    display: inline-block;
  }
  .toggle.active {
    background: url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 600px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 600px) {
  /* Add options here */
}
/* ----------------------------------------------------- */
/* ------------------- screen: 414px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 414px) {
  header {
    height: 55vh;
  }

  header h1 {
    font-size: 32pt;
  }

  header h1 small {
    font-size: 22pt;
  }

  .container {
    padding: 18pt;
  }

  .submit h1 {
    font-size: 14pt;
    line-height: 22pt;
  }
}