* {
  margin: 0;
  padding: 0;
  font-smoothing: all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* Global configurations */
html, body, input, p, h1, h2, h3, h4, h5, h6, table, br, div, a, img, form, button, video, img, article, aside, i, b, strong, abbr, acronym, applet, area, audio, base, basefont, bdo, big, blockquote, canvas, caption, center, cite, code, col, colgroup, command, datalist, dd, del, details, dfn, dialog, dir, div, dl, dt, em, embed, eventsource, fieldset, figcaption, figure, font, footer, frame, frameset, header, hgroup, hr, iframe, ins, isindex, kbd, keygen, label, legend, li, link, map, mark, menu, meta, meter, noframes, noscript, object, ol, optgroup, ul, option, output, param, pre, progress, q, rp, rt, ruby, s, samp, td, textarea, th, thead, time, title, tr, track, tt, u, ul, var, video, wbr {
  transition: 0.3s all ease;
  font-family: "Inter", sans-serif;
}

html {
  /* Scroll smooth animatio */
  /* Not support in IE, or Safari */
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, b, strong {
  color: #333;
}

p {
  color: #777;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  display: -webkit-flex;
  /* For browsers with WEBKIT */
  /* Vertical align to center */
  align-items: center;
  justify-content: center;
  /* END */
  text-align: center;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/collin-armstrong-8FxJi5wuwKc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-blend-mode: multiply;
}
header h1 {
  color: #FFF;
  font-size: 40pt;
}
header h1 small {
  font-size: 32pt;
  font-weight: 200;
  font-style: italic;
}

/* ------------------------------------------------ */
/* ------------------- MENU BAR ------------------- */
/* ------------------------------------------------ */
.menu-bar {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 16pt;
  padding-left: 0pt;
  padding-bottom: 16pt;
  padding-right: 0pt;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px) saturate(5);
  -webkit-backdrop-filter: blur(8px) saturate(5);
}
.menu-bar ul {
  list-style: none;
}
.menu-bar li {
  display: inline-block;
}
.menu-bar a {
  padding: 8pt 16pt;
  color: #333;
}
.menu-bar a:hover {
  color: #349589;
}
.menu-bar .showcase {
  font-weight: bolder;
  text-transform: uppercase;
}

.container {
  padding: 32pt 32pt;
  width: 100%;
  max-width: 1360px;
  margin: auto;
}
.container--article {
  background-color: #F2F2F2;
}
.container--article:nth-child(even) {
  background-color: #FFF;
}

/* ------------------------------------------------ */
/* ------------------- Articles ------------------- */
/* ------------------------------------------------ */
.article {
  display: grid;
  grid-gap: 40pt;
  grid-template-columns: 1fr 1fr;
  padding-top: 32pt;
  padding-bottom: 32pt;
  padding-left: 0pt;
  padding-right: 0pt;
}
.article .content {
  margin-top: 32pt;
  margin-bottom: 32pt;
  margin-left: 0pt;
  margin-right: 0pt;
}
.article img {
  width: 100%;
  border-radius: 5px;
  cursor: no-drop;
}
.article h3 {
  font-size: 22pt;
  margin-bottom: 32pt;
}
.article p {
  line-height: calc(8pt * 3);
}

.submit {
  display: grid;
  grid-gap: 40pt;
  grid-template-columns: 2fr 1.5fr;
  background: rgba(52, 149, 137, 0.13);
}
.submit .message {
  padding: 32pt 26pt;
}
.submit h1 {
  color: #349589;
  font-size: 24pt;
  line-height: calc($fts * 1.900);
  margin-bottom: 18pt;
}
.submit input[type=email], .submit input[type=submit] {
  -webkit-appearance: none;
  display: block;
  border-radius: 5px;
}
.submit input[type=email] {
  width: 100%;
  border: 1px solid #349589;
  outline-color: #349589;
  font-size: 18px;
  padding: 5px;
  margin: 14pt 0;
}
.submit input[type=submit] {
  border: none;
  background-color: #349589;
  color: #FFF;
  padding: 6pt 15pt;
  margin: 14pt 0;
  font-size: 14px;
  cursor: pointer;
}
.submit input[type=submit]:hover {
  background-color: rgba(52, 149, 137, 0.8);
}
.submit .img4 {
  background-image: url("../images/joanna-kosinska-uGcDWKN91Fs-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

/* -------------------------------------------- */
/* ------------------- MODS ------------------- */
/* -------------------------------------------- */
[text-to-left] {
  text-align: left;
}

[text-to-right] {
  text-align: right;
}

[a-title-l] {
  border-left: 8px solid #349589;
  padding-left: 20px;
}

[a-title-r] {
  border-right: 8px solid #349589;
  padding-right: 20px;
}

::-moz-selection {
  color: #FFF;
  background: #349589;
}

::selection {
  color: #FFF;
  background: #349589;
}

/* ----------------------------------------------------- */
/* ------------------- screen: 1024px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 1024px */
@media screen and (max-width: 1024px) {
  .article .content {
    margin-top: 0 !important;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 930px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 930px */
@media screen and (max-width: 930px) {
  .article .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* --------------------------------------------------- */
/* ------------------- screen: 800 ------------------- */
/* --------------------------------------------------- */
/* MEDIA SCREEN FOR 800PX */
@media screen and (max-width: 800px) {
  header {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .article {
    display: block;
  }

  .article .content {
    margin-top: 32px;
  }

  .article h3 {
    margin-bottom: 16pt;
  }

  .article img {
    display: none;
  }

  #security,
#networking,
#ti {
    margin-bottom: 20px;
    backdrop-filter: saturate(50px);
    -webkit-backdrop-filter: saturate(50px);
  }

  #security {
    background-image: url("../images/milosz-klinowski-BW0d0IllW8E-unsplash.jpg");
  }

  #networking {
    background-image: url("../images/jordan-harrison-40XgDxBfYXM-unsplash.jpg");
  }

  #ti {
    background-image: url("../images/elly-brian-s_C8yBxJyvM-unsplash.jpg");
  }

  #security, #networking, #ti {
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }
  #security .article .content h3, #networking .article .content h3, #ti .article .content h3 {
    color: #FFF;
  }
  #security .article .content p, #networking .article .content p, #ti .article .content p {
    color: #FFF;
  }

  .submit {
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 5px;
  }

  .submit input[type=submit] {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
  }

  .submit .img4 {
    display: none;
  }

  [text-to-left] {
    text-align: left;
  }

  [text-to-right] {
    text-align: left;
  }

  [a-title-l] {
    border-left: 8px solid #349589;
    padding-left: 20px;
  }

  [a-title-r] {
    border-left: 8px solid #349589;
    border-right: none;
    padding-left: 20px;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 600px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 600px) {
  .menu-bar ul {
    display: none;
  }

  .mobile-spacing {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 414px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 414px) {
  header {
    height: 100vh;
  }

  header h1 {
    font-size: 32pt;
  }

  header h1 small {
    font-size: 22pt;
  }

  .container {
    padding: 18pt;
  }

  .submit h1 {
    font-size: 14pt;
    line-height: 22pt;
  }
}
/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: #151616;
  }

  .container--article {
    background-color: #151616;
  }

  .container--article:nth-child(even) {
    background-color: #1C1D1D;
  }

  .container--article h3 {
    color: #FFF;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: #FFF;
  }

  .submit {
    background-color: #1C1D1D !important;
  }

  .submit h1 {
    color: rgba(255, 255, 255, 0.8);
  }

  .submit input[type=email] {
    background-color: #151616;
    color: #FFF;
  }
}