@-webkit-keyframes link-hover {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes link-hover {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Global configurations */
html, a, p, h1, h2, h3, h4, div, span, button, input {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-family: "Inter", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

h1, h2, h3, h4, h5, b {
  color: #303030;
}

h1 {
  font-size: 42.724609375px;
  line-height: 59.8145129395px;
}

h2 {
  font-size: 34.1796875px;
  line-height: 47.8516103516px;
}

h3 {
  font-size: 27.34375px;
  line-height: 38.2812882813px;
}

h4 {
  font-size: 21.875px;
  line-height: 30.625030625px;
}

h5 {
  font-size: 17.5px;
  line-height: 24.5000245px;
}

p {
  font-size: 14px;
  line-height: 1.75;
  color: #5e5e5e;
}

a {
  text-decoration: none;
  color: #3cc3b1;
}

.caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11.2px;
  line-height: 15.68001568px;
}

.copyright {
  text-transform: uppercase;
  font-size: 11.2px;
  line-height: 15.68001568px;
}

.tiny-text {
  font-size: 8.96px;
  line-height: 12.544012544px;
}

.showcase-icon {
  display: block;
  height: 150px;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55vh;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.4);
  background-image: url("../images/collin-armstrong-8FxJi5wuwKc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}
header small {
  font-size: 27.34375px;
  font-weight: 200;
  font-style: italic;
  letter-spacing: -2px;
  color: #f2f2f2;
}
header h2 {
  color: #f2f2f2;
}

/* ------------------------------------------------ */
/* ------------------- MENU BAR ------------------- */
/* ------------------------------------------------ */
.menu-bar {
  -webkit-backdrop-filter: blur(8px) saturate(5);
          backdrop-filter: blur(8px) saturate(5);
  background-color: rgba(242, 242, 242, 0.9);
  -webkit-box-shadow: 0 1px 1px rgba(20, 20, 20, 0.3);
          box-shadow: 0 1px 1px rgba(20, 20, 20, 0.3);
  display: block;
  padding-bottom: 16pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 16pt;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1234;
}
.menu-bar ul {
  list-style: none;
  position: relative;
}
.menu-bar ul .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  right: 0;
  position: absolute;
  top: 0%;
  bottom: 50%;
  margin-right: 30px;
}
.menu-bar ul .right p {
  margin-right: 10px;
}
.menu-bar ul .right input {
  cursor: pointer;
}
.menu-bar li {
  display: inline-block;
}
.menu-bar a {
  padding: 16pt 16pt;
  color: #303030;
}
.menu-bar a:hover {
  color: #3cc3b1;
  position: relative;
}
.menu-bar a:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(60, 195, 177, 0.5);
  height: 2px;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: link-hover 0.5s;
          animation: link-hover 0.5s;
}
.menu-bar a.active {
  position: relative;
}
.menu-bar a.active::before {
  content: "";
  position: absolute;
  background-color: #3cc3b1;
  height: 2px;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
.menu-bar .showcase {
  font-weight: bolder;
  text-transform: uppercase;
}

.showcaseResp {
  display: none;
  font-weight: bolder;
  text-transform: uppercase;
}

/* ------------------------------------------------- */
/* ------------------- CONTAINER ------------------- */
/* ------------------------------------------------- */
.container {
  padding: 32pt 32pt;
  width: 100%;
  max-width: 1360px;
  margin: auto;
}
.container-flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-grilled {
  display: grid;
  grid-gap: 40pt;
  grid-template-columns: 1fr 1fr;
  padding-top: 32pt;
  padding-bottom: 32pt;
  padding-right: 0pt;
  padding-left: 0pt;
}
.container-grilled .content {
  padding-top: 32pt;
  padding-bottom: 32pt;
  padding-right: 0pt;
  padding-left: 0pt;
}
.container-grilled img {
  width: 100%;
  border-radius: 5px;
  cursor: no-drop;
}
.container_tinted {
  background: #f2f2f2;
  border-radius: 10px;
}

.submit {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  text-align: center;
  width: 100%;
}
.submit .newsletterIcon {
  display: block;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-width: 180px;
}
.submit .newsletterIcon h1 {
  text-transform: uppercase;
  font-size: 2.8em;
  font-weight: bolder;
}
.submit .newsletterIcon p {
  font-size: 1.2em;
  color: #5e5e5e;
  margin-bottom: 60px;
}

.message {
  position: relative;
  width: auto;
  padding: 40px;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.message form {
  display: block;
  width: 500px;
  margin: auto;
}

.input-field {
  position: relative;
  height: 40px;
  width: 100%;
  margin: auto;
}
.input-field input[type=email] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  left: 0;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  width: 100%;
  outline: none;
  color: #303030;
}
.input-field input[type=email]:focus + label, .input-field input[type=email]:valid + label {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  font-size: 14px;
  color: #3cc3b1;
  background: rgba(60, 195, 177, 0.2);
  border-radius: 5px;
  padding: 2px 6px;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #5e5e5e;
  font-style: italic;
}
.input-field span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(60, 195, 177, 0.5);
  width: 100%;
  height: 2px;
}
.input-field span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0ff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s all ease-in-out;
  transition: -webkit-transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out, -webkit-transform 0.5s all ease-in-out;
}
.input-field:focus + span:before, .input-field:valid + span:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s all ease-in-out;
  transition: -webkit-transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out, -webkit-transform 0.5s all ease-in-out;
}

.btn,
button,
input[type=submit] {
  display: inline-block;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  overflow: hidden;
  text-transform: uppercase;
  border: 1px solid;
}

.btn-primary {
  background-color: #3cc3b1;
  border-color: #3cc3b1 !important;
  color: #f2f2f2;
}
.btn-primary:hover {
  background-color: rgba(60, 195, 177, 0.5);
}
.btn-primary:active {
  background-color: rgba(60, 195, 177, 0.2);
  color: #3cc3b1;
}

.btn-modal {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.btn-modal .icon {
  margin-left: 10px;
  height: 18px;
}

.btn_small {
  font-size: 0.75rem;
  height: 1.875rem;
  line-height: calc(1.875rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1rem;
}

.btn_mid {
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: calc(2.5rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1.25rem;
}

.btn_large {
  font-size: 1rem;
  height: 3.125rem;
  line-height: calc(1.875rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1.75rem;
}

.toggleDarkMode {
  display: block;
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../images/moon.svg");
}

.toggleDarkModeActive {
  background-image: url("../images/sun.svg");
}

.newsbar {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.toggler {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 5px;
  color: #b342f4;
  font-weight: bolder;
  text-align: center;
  background: none;
  line-height: -1 !important;
  font-size: 14px;
  cursor: pointer;
  padding-top: 0;
  padding-right: 3px;
  padding-bottom: 0;
  padding-left: 3px;
  outline: none;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 2px;
}
.toggler .right {
  height: 18px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.toggler-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  /* TODO: here write a color */
}
.toggler-content p {
  display: block;
  color: #b342f4 !important;
  font-size: 14px;
  margin: auto;
  padding: 10px;
  background: rgba(60, 195, 177, 0.2);
  margin-bottom: 5px;
  border-radius: 3px;
  color: #3cc3b1 !important;
}
.toggler_active {
  background-color: rgba(179, 66, 244, 0.1);
  margin-bottom: 15px;
}
.toggler_active [animation=rotate-chevron] {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  padding: 20px;
  -webkit-animation: cubic-bezier(0.14, 1, 0.34, 1);
          animation: cubic-bezier(0.14, 1, 0.34, 1);
}

.modal {
  background-color: #FFF;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal p {
  height: 300px;
  overflow-y: scroll;
  color: #5e5e5e;
}
.modal h1 {
  color: #303030;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.verMas {
  display: inline-block;
  text-align: left;
}

.foo {
  background-color: #f2f2f2;
}
.foo .dark {
  display: none;
}
.foo .light {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.foo p {
  color: #141414;
}
.foo .gotoapps {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(20, 20, 20, 0.2);
  border-radius: 3px;
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  padding: 5px 8px 5px 1px;
  text-transform: uppercase;
}
.foo .gotoapps .box-foo {
  height: 14px;
}
.foo .pre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.foo_navigation {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.5);
  border-top: 1px solid rgba(20, 20, 20, 0.5);
}
.foo-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.foo-bar .right {
  list-style: none;
}
.foo-bar .right li {
  display: inline-block;
}
.foo-bar .right li a {
  color: #141414;
  font-size: 11px;
  padding: 0 5px;
}
.foo-bar .left {
  list-style: none;
}
.foo-bar .left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.foo-bar .left li .chevron-up {
  height: 14px;
}
.foo-bar .left li a {
  color: #141414;
  font-size: 11px;
}
.foo-bar .left li a:hover {
  color: #3cc3b1;
}
.foo-brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.foo-brand .brand {
  margin-left: 10px;
}
.foo-brand .brand p {
  font-weight: bolder;
  line-height: 18px;
}
.foo-brand .brand small {
  line-height: 10px;
  color: #141414;
}
.foo-logo {
  display: block;
  height: 35px;
}

.content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.code-error {
  font-size: 150px;
  font-weight: lighter;
  color: #303030;
}

.error-message {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5e5e5e;
  margin-bottom: 40px;
}

.backFromErrorButton {
  background-color: rgba(60, 195, 177, 0.2);
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bolder;
  border-radius: 5px;
}
.backFromErrorButton:hover {
  background-color: rgba(60, 195, 177, 0.1);
}

.privacy-policies {
  background-image: url("https://images.unsplash.com/photo-1582135739786-3bceafcaea85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") !important;
  background-color: rgba(242, 242, 242, 0.5);
  background-blend-mode: lighten;
  height: 50vh !important;
}
.privacy-policies h2, .privacy-policies small {
  color: #141414;
}

.container-paper {
  background-color: #f2f2f2;
  padding: 60pt;
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 38%;
  -webkit-box-shadow: 5px 5px 30px rgba(26, 26, 26, 0.3);
          box-shadow: 5px 5px 30px rgba(26, 26, 26, 0.3);
}

.privacy-policies-body {
  background-color: #f2f2f2;
}
.privacy-policies-body h1 {
  margin-bottom: 30px;
}
.privacy-policies-body li {
  line-height: 30px;
}
.privacy-policies-body ul {
  color: #141414;
}

.dark-icon {
  display: none;
}

/* -------------------------------------------- */
/* ------------------- MODS ------------------- */
/* -------------------------------------------- */
.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.align_right {
  margin-left: auto;
}

.title-indicator_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  text-align: left;
}
.title-indicator_left:before {
  content: "";
  height: 100%;
  background: #3cc3b1;
  width: 10px;
  position: absolute;
  left: 0;
}

.title-indicator_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
  padding-right: 20px;
  position: relative;
  text-align: right;
}
.title-indicator_right::before {
  content: "";
  height: 100%;
  background: #3cc3b1;
  width: 10px;
  position: absolute;
  right: 0;
}

::-moz-selection {
  color: #f2f2f2;
  background: #3cc3b1;
}

::selection {
  color: #f2f2f2;
  background: rgba(60, 195, 177, 0.5);
}

.blink {
  -webkit-animation: blinker 3s cubic-bezier(0.5, 0, 1, 1) infinite;
          animation: blinker 3s cubic-bezier(0.5, 0, 1, 1) infinite;
}

@-webkit-keyframes blinker {
  to {
    opacity: 0;
  }
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}
/* DARKMODE PARAMETERS */
.dark html,
.dark body {
  background-color: #141414;
}
.dark p {
  color: rgba(242, 242, 242, 0.8) !important;
}
.dark .modal h1,
.dark .modal h2,
.dark .modal b,
.dark .menu-bar a,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #f2f2f2;
}
.dark .menu-bar {
  background: rgba(20, 20, 20, 0.9);
}
.dark .toggleMenu {
  -webkit-filter: invert(0) !important;
          filter: invert(0) !important;
}
.dark .toggleMenu.active {
  -webkit-filter: invert(0) !important;
          filter: invert(0) !important;
}
.dark .container_tinted {
  background-color: #262626;
}
.dark .code-error {
  color: #f2f2f2;
}
.dark .message {
  background-color: #262626;
}
.dark .message form input[type=email] {
  color: #f2f2f2;
}
.dark .modal {
  background-color: #262626;
}
.dark .newsbar {
  background-color: #323434fa;
}
.dark .newsbar p,
.dark .newsbar .toggler {
  color: #edca5a !important;
}
.dark .newsbar .toggler_active {
  background-color: rgba(237, 202, 90, 0.1);
}
.dark .newsbar b {
  color: #f2f2f2;
}
.dark .foo {
  background-color: #262626;
}
.dark .foo .light {
  -webkit-filter: invert(0);
          filter: invert(0);
}
.dark .foo .gotoapps {
  color: #f2f2f2;
  background-color: rgba(242, 242, 242, 0.2);
}
.dark .foo p {
  color: #f2f2f2;
}
.dark .foo_navigation {
  border-color: rgba(242, 242, 242, 0.5);
}
.dark .foo-bar .right li a,
.dark .foo-bar .left li a {
  color: #f2f2f2;
}
.dark .foo-brand .brand small {
  color: #f2f2f2;
}
@media screen and (max-width: 700px) {
  .dark .navigation {
    background-color: #1c1c1c !important;
  }
}
.dark .privacy-policies {
  background-color: rgba(20, 20, 20, 0.5);
  background-blend-mode: multiply;
  height: 50vh !important;
}
.dark .privacy-policies h2 {
  color: #f2f2f2 !important;
}
.dark .privacy-policies small {
  color: #f2f2f2;
}
.dark .dark-icon {
  display: block;
}
.dark .light-icon {
  display: none;
}
.dark .privacy-policies-body .container-paper {
  background-color: #141414;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}
.dark .privacy-policies-body .container-paper p,
.dark .privacy-policies-body .container-paper h1,
.dark .privacy-policies-body .container-paper .policies li {
  color: #f2f2f2 !important;
}

@media screen and (prefers-color-scheme: dark) {
  html,
body {
    background-color: #141414;
  }

  p {
    color: rgba(242, 242, 242, 0.8) !important;
  }

  .modal h1,
.modal h2,
.modal b,
.menu-bar a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f2f2f2;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .toggleMenu {
    -webkit-filter: invert(0) !important;
            filter: invert(0) !important;
  }
  .toggleMenu.active {
    -webkit-filter: invert(0) !important;
            filter: invert(0) !important;
  }

  .container_tinted {
    background-color: #262626;
  }

  .code-error {
    color: #f2f2f2;
  }

  .message {
    background-color: #262626;
  }
  .message form input[type=email] {
    color: #f2f2f2;
  }

  .modal {
    background-color: #262626;
  }

  .newsbar {
    background-color: #323434fa;
  }
  .newsbar p,
.newsbar .toggler {
    color: #edca5a !important;
  }
  .newsbar .toggler_active {
    background-color: rgba(237, 202, 90, 0.1);
  }
  .newsbar b {
    color: #f2f2f2;
  }

  .foo {
    background-color: #262626;
  }
  .foo .light {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  .foo .gotoapps {
    color: #f2f2f2;
    background-color: rgba(242, 242, 242, 0.2);
  }
  .foo p {
    color: #f2f2f2;
  }
  .foo_navigation {
    border-color: rgba(242, 242, 242, 0.5);
  }
  .foo-bar .right li a,
.foo-bar .left li a {
    color: #f2f2f2;
  }
  .foo-brand .brand small {
    color: #f2f2f2;
  }
}
@media screen and (prefers-color-scheme: dark) and (max-width: 700px) {
  .navigation {
    background-color: #1c1c1c !important;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .privacy-policies {
    background-color: rgba(20, 20, 20, 0.5);
    background-blend-mode: multiply;
    height: 50vh !important;
  }
  .privacy-policies h2 {
    color: #f2f2f2 !important;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .privacy-policies small {
    color: #f2f2f2;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .dark-icon {
    display: block;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .light-icon {
    display: none;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .privacy-policies-body .container-paper {
    background-color: #141414;
    -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  }
  .privacy-policies-body .container-paper p,
.privacy-policies-body .container-paper h1,
.privacy-policies-body .container-paper .policies li {
    color: #f2f2f2 !important;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .menu-bar ul .right {
    display: none;
  }
}
@media screen and (max-width: 1364px) {
  .container_round-l, .container_round-m, .container_round-sm {
    border-radius: 0 !important;
  }
}
@media screen and (max-width: 1366px) {
  .container_tinted {
    border-radius: 0;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 1024px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 1024px */
@media screen and (max-width: 1024px) {
  .container-grilled .content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}
/* --------------------------------------------------- */
/* ------------------- screen: 800 ------------------- */
/* --------------------------------------------------- */
/* MEDIA SCREEN FOR 800PX */
@media screen and (max-width: 800px) {
  header {
    background-color: rgba(20, 20, 20, 0.8);
    height: 85vh;
  }
  header .showcase-icon {
    margin-top: 30px;
  }

  h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #f2f2f2;
  }

  .container-grilled {
    display: block;
  }

  .container-grilled .content {
    margin-top: 32px;
  }

  .container-grilled h3 {
    margin-bottom: 16pt;
  }

  .container-grilled img {
    display: none;
  }

  #security {
    background-image: url("../images/milosz-klinowski-BW0d0IllW8E-unsplash.png");
  }

  #networking {
    background-image: url("../images/jordan-harrison-40XgDxBfYXM-unsplash.png");
  }

  #ti {
    background-image: url("../images/elly-brian-s_C8yBxJyvM-unsplash.png");
  }

  #software {
    background-image: url("../images/ilya-pavlov-OqtafYT5kTw-unsplash.png");
  }

  #security,
#networking,
#ti,
#software {
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    margin-bottom: 20px;
    -webkit-backdrop-filter: saturate(50px);
            backdrop-filter: saturate(50px);
  }
  #security .article .content h3,
#networking .article .content h3,
#ti .article .content h3,
#software .article .content h3 {
    color: #f2f2f2;
  }
  #security .article .content p,
#networking .article .content p,
#ti .article .content p,
#software .article .content p {
    color: #f2f2f2;
  }

  .submit {
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 5px;
  }

  .submit input[type=submit] {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
  }

  .submit .img4 {
    display: none;
  }

  [text-to-left] {
    text-align: left;
  }

  [text-to-right] {
    text-align: left;
  }

  [a-title-l] {
    border-left: 8px solid #3cc3b1;
    padding-left: 20px;
  }

  [a-title-r] {
    border-left: 8px solid #3cc3b1;
    border-right: none;
    padding-left: 20px;
  }

  .modal {
    padding: 10px 20px;
  }

  .showcase-icon {
    height: 100px;
  }

  .privacy-policies-body {
    position: relative;
  }
  .privacy-policies-body .container-paper {
    position: initial;
    height: 100%;
    margin-top: 0px;
    z-index: 800;
    padding: 35px;
  }
  .privacy-policies-body .container-paper h1 {
    color: #141414;
    text-align: center;
  }

  .menu-bar ul .right p {
    display: none;
  }
}
/* --------------------------------------------------- */
/* ------------------- 700px ------------------------- */
/* --------------------------------------------------- */
@media screen and (max-width: 700px) {
  .showcaseResp {
    display: block;
    padding: 0 !important;
    font-size: 18px;
  }

  .menu-bar {
    position: fixed;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-bar .showcase {
    display: none;
  }
  .menu-bar ul {
    display: none;
  }
  .menu-bar a:hover::before {
    height: 100%;
    left: 0 !important;
    background: rgba(60, 195, 177, 0.2);
    border-radius: 5px;
  }
  @-webkit-keyframes link-hover {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
  @keyframes link-hover {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }

  .navigation {
    background: #f2f2f2;
  }
  .navigation.active {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .navigation li {
    padding: 20px 0px;
  }
  .navigation li a {
    width: 100%;
  }
  .navigation li a :hover {
    color: rgba(242, 242, 242, 0.8);
  }

  .toggleMenu {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: invert(1);
            filter: invert(1);
    display: inline-block;
  }
  .toggleMenu.active {
    background: url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: invert(1);
            filter: invert(1);
    z-index: 11;
  }

  .submit h1 {
    font-size: 55px;
    line-height: calc(55px * 1.5);
    color: #333;
  }
  .submit form {
    width: 100% !important;
  }
}
@media screen and (max-width: 700px) and (prefers-color-scheme: dark) {
  .submit h1 {
    color: #f2f2f2;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 600px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 600px) {
  .submit h1 {
    font-size: 30pt;
    line-height: calc($font-size * 1.25);
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 414px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 414px) {
  header {
    height: 65vh;
  }
  header h2, header small {
    font-size: 27.34375px;
  }

  header h1 {
    font-size: 32pt;
  }

  header h1 small {
    font-size: 22pt;
  }

  .container {
    padding: 18pt;
  }

  .submit h1 {
    font-size: 24pt;
    line-height: calc($font-size * 1.25);
  }
}