* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Global configurations */
html, a, p, h1, h2, h3, h4, div, span, button, input {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-family: "Inter", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  /* Scroll smooth animation */
  /* Not support in IE, or Safari */
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, b, strong {
  color: #333333;
}

p {
  color: #777777;
}

a {
  text-decoration: none;
  color: #3BC4B2;
}

p a {
  background-color: rgba(59, 196, 178, 0.8);
  color: #FFF;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px rgba(74, 74, 74, 0.5);
          box-shadow: 0px 0px 2px rgba(74, 74, 74, 0.5);
}

.typography-hero {
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.05;
}

.typography-hero-copy {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.007em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  /* For browsers with WEBKIT */
  /* Vertical align to center */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* END */
  text-align: center;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/collin-armstrong-8FxJi5wuwKc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-blend-mode: multiply;
}
header h1 {
  color: #FFF;
  font-size: 40pt;
}
header h1 small {
  font-size: 32pt;
  font-weight: 200;
  font-style: italic;
}

/* ------------------------------------------------ */
/* ------------------- MENU BAR ------------------- */
/* ------------------------------------------------ */
.menu-bar {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 16pt;
  padding-left: 0pt;
  padding-bottom: 16pt;
  padding-right: 0pt;
  z-index: 1234;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px) saturate(5);
  -webkit-backdrop-filter: blur(8px) saturate(5);
}
.menu-bar ul {
  list-style: none;
}
.menu-bar li {
  display: inline-block;
}
.menu-bar a {
  padding: 8pt 16pt;
  color: #333333;
}
.menu-bar a:hover {
  color: #3BC4B2;
}
.menu-bar .showcase {
  font-weight: bolder;
  text-transform: uppercase;
}

.showcaseResp {
  display: none;
  font-weight: bolder;
  text-transform: uppercase;
}

/* ------------------------------------------------- */
/* ------------------- CONTAINER ------------------- */
/* ------------------------------------------------- */
.container {
  padding: 32pt 32pt;
  width: 100%;
  max-width: 1360px;
  margin: auto;
}
.container-flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-grilled {
  display: grid;
  grid-gap: 40pt;
  grid-template-columns: 1fr 1fr;
  padding-top: 32pt;
  padding-bottom: 32pt;
  padding-right: 0pt;
  padding-left: 0pt;
}
.container-grilled .content {
  padding-top: 32pt;
  padding-bottom: 32pt;
  padding-right: 0pt;
  padding-left: 0pt;
}
.container-grilled img {
  width: 100%;
  border-radius: 5px;
  cursor: no-drop;
}
.container-grilled h3 {
  font-size: 22pt;
  margin-bottom: 32pt;
}
.container-grilled p {
  line-height: calc(8pt * 3);
}
.container_tinted {
  background: #F2F2F2;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  position: relative;
  width: 100%;
}
.submit .newsletterIcon {
  display: block;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}
.submit h1 {
  text-transform: uppercase;
  font-size: 2.8em;
  font-weight: bolder;
}
.submit p {
  font-size: 1.2em;
  color: #777777;
  margin-bottom: 60px;
}

.message {
  position: relative;
  width: auto;
  padding: 40px;
  margin: auto;
  background-color: #F2F2F2;
  border-radius: 20px;
}
.message form {
  display: block;
  width: 500px;
  margin: auto;
}

.input-field {
  position: relative;
  height: 40px;
  width: 100%;
  margin: auto;
}
.input-field input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 0;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  width: 100%;
  outline: none;
  color: #333333;
}
.input-field input[type=email]:focus + label, .input-field input[type=email]:valid + label {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  font-size: 14px;
  color: #3BC4B2;
  background: rgba(59, 196, 178, 0.2);
  border-radius: 5px;
  padding: 2px 6px;
}
.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #777777;
  font-style: italic;
}
.input-field span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(59, 196, 178, 0.5);
  width: 100%;
  height: 2px;
}
.input-field span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0FF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s all ease-in-out;
  transition: -webkit-transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out, -webkit-transform 0.5s all ease-in-out;
}
.input-field:focus + span:before, .input-field:valid + span:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s all ease-in-out;
  transition: -webkit-transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out;
  transition: transform 0.5s all ease-in-out, -webkit-transform 0.5s all ease-in-out;
}

.button, .btn, button, input[type=submit] {
  display: inline-block;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  overflow: hidden;
  text-transform: uppercase;
  border: 1px solid;
}

.button-primary, .btn-primary {
  background-color: #3BC4B2;
  border-color: #3bc4b2 !important;
  color: #FFF;
}
.button-primary:hover, .btn-primary:hover {
  background-color: rgba(59, 196, 178, 0.5);
}
.button-primary:active, .btn-primary:active {
  background-color: rgba(59, 196, 178, 0.2);
  color: #3BC4B2;
}

.button-modal {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.button-modal .icon {
  margin-left: 10px;
  height: 18px;
}

.button_small, .btn_small {
  font-size: 0.75rem;
  height: 1.875rem;
  line-height: calc(1.875rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1rem;
}

.button_mid, .btn_mid {
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: calc(2.5rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1.25rem;
}

.button_large, .btn_large {
  font-size: 1rem;
  height: 3.125rem;
  line-height: calc(1.875rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1.75rem;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  padding: 20px;
}

.modal {
  background-color: #FFF;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal h1 {
  color: #333;
}
.modal p {
  color: #777;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.verMas {
  display: inline-block;
  text-align: left;
}

#about .pdf {
  display: block;
  height: 100%;
  width: 50px;
}
#about p {
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
}
#about .archPeso {
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  width: 50px;
  padding: 2px 8px;
  background: rgba(59, 196, 178, 0.8);
  border-radius: 3px;
}

.content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.code-error {
  font-size: 150px;
  font-weight: lighter;
  color: #333333;
}

.error-message {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #777777;
  margin-bottom: 40px;
}

.backFromErrorButton {
  background-color: rgba(59, 196, 178, 0.2);
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bolder;
  border-radius: 5px;
}
.backFromErrorButton:hover {
  background-color: rgba(59, 196, 178, 0.1);
}

/* -------------------------------------------- */
/* ------------------- MODS ------------------- */
/* -------------------------------------------- */
.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.align_right {
  margin-left: auto;
}

.title-indicator_left {
  border-left: 8px solid #3BC4B2;
  padding-left: 20px;
}

.title-indicator-right {
  border-right: 8px solid #3BC4B2;
  padding-right: 20px;
}

::-moz-selection {
  color: #FFF;
  background: #3BC4B2;
}

::selection {
  color: #FFF;
  background: rgba(59, 196, 178, 0.5);
}

.blink {
  -webkit-animation: blinker 3s cubic-bezier(0.5, 0, 1, 1) infinite;
          animation: blinker 3s cubic-bezier(0.5, 0, 1, 1) infinite;
}

@-webkit-keyframes blinker {
  to {
    opacity: 0;
  }
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}
#breadcrumb {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}
#breadcrumb a {
  padding: 0px 5px;
  text-transform: uppercase;
  font-size: 11px;
}
#breadcrumb a:nth-child(n):before {
  content: ">";
  margin-right: 10px;
}
#breadcrumb a:nth-last-child(1) {
  color: #FFF;
}
#breadcrumb a:hover {
  color: #e6e6e6;
}

/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: #151616;
  }

  p {
    color: #FFF;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #FFF;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: #FFF;
  }

  .submit {
    background-color: #1C1D1D !important;
  }

  .navigation.active {
    background-color: #1C1C1C !important;
  }

  .toggle {
    -webkit-filter: invert(0) !important;
            filter: invert(0) !important;
  }
  .toggle.active {
    -webkit-filter: invert(0) !important;
            filter: invert(0) !important;
  }

  .container_tinted {
    background-color: #282828;
  }

  .code-error {
    color: #FFF;
  }

  .message {
    background-color: #282828;
  }
  .message form input[type=email] {
    color: #F2F2F2;
  }

  .modal {
    background-color: #282828;
  }
  .modal h1 {
    color: #FFF;
  }
  .modal p {
    color: rgba(255, 255, 255, 0.7);
  }
}
@media screen and (max-width: 1364px) {
  .container_round-l, .container_round-m, .container_round-sm {
    border-radius: 0 !important;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 1024px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 1024px */
@media screen and (max-width: 1024px) {
  .container-grilled .content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}
/* --------------------------------------------------- */
/* ------------------- screen: 800 ------------------- */
/* --------------------------------------------------- */
/* MEDIA SCREEN FOR 800PX */
@media screen and (max-width: 800px) {
  header {
    background-color: rgba(0, 0, 0, 0.8);
  }

  h1, h2, h3, h4, h5, h6, p {
    color: #FFF;
  }

  .container-grilled {
    display: block;
  }

  .container-grilled .content {
    margin-top: 32px;
  }

  .container-grilled h3 {
    margin-bottom: 16pt;
  }

  .container-grilled img {
    display: none;
  }

  #security {
    background-image: url("../images/milosz-klinowski-BW0d0IllW8E-unsplash.jpg");
  }

  #networking {
    background-image: url("../images/jordan-harrison-40XgDxBfYXM-unsplash.jpg");
  }

  #ti {
    background-image: url("../images/elly-brian-s_C8yBxJyvM-unsplash.jpg");
  }

  #security, #networking, #ti {
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    margin-bottom: 20px;
    -webkit-backdrop-filter: saturate(50px);
            backdrop-filter: saturate(50px);
  }
  #security .article .content h3, #networking .article .content h3, #ti .article .content h3 {
    color: #FFF;
  }
  #security .article .content p, #networking .article .content p, #ti .article .content p {
    color: #FFF;
  }

  .submit {
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 5px;
  }

  .submit input[type=submit] {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
  }

  .submit .img4 {
    display: none;
  }

  [text-to-left] {
    text-align: left;
  }

  [text-to-right] {
    text-align: left;
  }

  [a-title-l] {
    border-left: 8px solid #3BC4B2;
    padding-left: 20px;
  }

  [a-title-r] {
    border-left: 8px solid #3BC4B2;
    border-right: none;
    padding-left: 20px;
  }
}
/* --------------------------------------------------- */
/* ------------------- 700px ------------------------- */
/* --------------------------------------------------- */
@media screen and (max-width: 700px) {
  .menu-bar {
    position: fixed;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-bar ul {
    display: none;
  }
  .menu-bar .showcaseResp {
    padding: 0 !important;
    font-size: 18px;
  }

  .navigation {
    background: white;
  }

  .navigation.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
    text-transform: uppercase;
  }
  .navigation.active li {
    padding: 20px 0px;
  }
  .navigation.active li a:hover {
    background-color: rgba(59, 196, 178, 0.3);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
  }
  .navigation.active .showcase {
    display: none;
  }

  .showcaseResp {
    display: block;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: invert(1);
            filter: invert(1);
    display: inline-block;
  }
  .toggle.active {
    background: url(../images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: invert(1);
            filter: invert(1);
    z-index: 11;
  }

  .submit h1 {
    font-size: 55px;
    line-height: calc(55px * 1.5);
    color: #333;
  }
  .submit form {
    width: 100% !important;
  }
}
@media screen and (max-width: 700px) and (prefers-color-scheme: dark) {
  .submit h1 {
    color: #FFF;
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 600px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 600px) {
  .submit h1 {
    font-size: 30pt;
    line-height: calc($font-size * 1.25);
  }
}
/* ----------------------------------------------------- */
/* ------------------- screen: 414px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 414px) {
  header {
    height: 55vh;
  }

  header h1 {
    font-size: 32pt;
  }

  header h1 small {
    font-size: 22pt;
  }

  .container {
    padding: 18pt;
  }

  .submit h1 {
    font-size: 24pt;
    line-height: calc($font-size * 1.25);
  }
}