/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: $dark-color-base;
  }

  p {
    color: $white;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  } 

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: $white;
  }

  .submit {
    background-color: $dark-color-foreground !important;
  }
  
  .navigation.active {
    background-color: $dark-mode-gray-100 !important;
  }

  .toggle {
    filter: invert(0) !important;

    &.active {
      filter: invert(0) !important;
    }
  }

  .container_tinted {
    background-color: $dark-mode-gray-90;
  }

  .code-error {
    color: $white;
  }

  .message {
    background-color: $dark-mode-gray-90;
    form input[type=email] {
      color: $c-concrete;
    }
  }  
}