/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: $dark-color-base;
  }

  p {
    color: $dark-color-text;
  }

  .container--article {
    background-color: $dark-color-base;
    border-radius: 0;
  }

  .container--article:nth-child(even) {
    background-color: $dark-color-foreground;
  }

  .container--article h3 {
    color: $white;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: $white;
  }

  .submit {
    background-color: $dark-color-foreground !important;
  }

  .submit h1 {
    color: rgba($white, 0.8);
  }
  
  .navigation.active {
    background-color: $dark-mode-gray-100 !important;
  }

  .toggle {
    filter: invert(0) !important;

    &.active {
      filter: invert(0) !important;
    }
  }

  .code-error {
    color: $white;
  }
}