/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: $dark-color-base;
  }

  p {
    color: $dark-color-text;
  }

  .container--article {
    background-color: $dark-color-base;
    border-radius: 0;
  }

  .container--article:nth-child(even) {
    background-color: $dakr-color-foreground;
  }

  .container--article h3 {
    color: $white;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: $white;
  }

  .submit {
    background-color: $dakr-color-foreground !important;
  }

  .submit h1 {
    color: rgba($white, 0.8);
  }

  .submit input[type=email] {
    background-color: $dark-color-base;
    color: $white;
  }

  button, input[type=submit], input[type=button] {
    display: block;
    margin-top: 25px;
    background: transparent;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  .navigation.active {
    background-color: $dark-mode-gray-100 !important;
  }

  .toggle {
    filter: invert(0) !important;

    &.active {
      filter: invert(0) !important;
    }
  }
}