/* ------------------------------------------------ */
/* ------------------- Articles ------------------- */
/* ------------------------------------------------ */

.article {
  @include gridbox;
  grid-template-columns: 1fr 1fr;
   @include gpadding(padding-top, padding-bottom, padding-left, padding-right);

  .content {
     @include gpadding(margin-top, margin-bottom, margin-left, margin-right);
  }

  img {
    width: 100%;
    border-radius: 5px;
    cursor: no-drop;
  }

  h3 {
    font-size: 22pt;
    margin-bottom: 32pt;
  }

  p {
    line-height: calc(8pt * 3);
  }
}