.button, .btn, button, input[type=submit] {
  display: inline-block;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  overflow: hidden;
  text-transform: uppercase;
  border: 1px solid;
}

.button-primary, .btn-primary {
  background-color: rgba($primary, .4);
  border-color: $primary !important;
}

.button_small, .btn_small {
  font-size: 0.75rem;
  height: 1.875rem;
  line-height: calc(1.875rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1rem;
}

.button_mid, .btn_mid {
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: calc(2.5rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1.25rem;
}

.button_large, .btn_large {
  font-size: 1rem;
  height: 3.125rem;
  line-height: calc(1.875rem - 1px * 2);
  border-radius: 0.25rem;
  padding: 0 1.75rem;
}

