// ===========
// CONTAINER
// ===========

.container {
  padding: 32pt 32pt;
  width: 100%;
  max-width: 1360px;
  margin: auto;

  &--article {
    background-color: $c-concrete;
    border-radius: 20px;

    &:nth-child(even) {
      background-color: $white;
    }
  }
}