.submit {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    text-align: center;
    position: relative;
    width: 100%;

    .newsletterIcon {
      display: block;
      margin: 35px auto;
      width: 200px;

    }

    h1 {
      text-transform: uppercase;
      font-size: 2.8em;
      font-weight: bolder;

    }

    p {
      font-size: 1.2em;
      color: $p-color;
      margin-bottom: 60px;
    }
}

.message {
    position: relative;
    width: auto;
    padding: 40px;
    margin: auto;
    background-color: $c-concrete;
    border-radius: 20px;
}

.input-field {
    position: relative;
    height: 40px;
    width: 100%;
    margin: auto;

    input[type=email] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        left: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        font-size: 16px;
        width: 100%;
        outline: none;
        color: $h-color;

        &:focus + label, &:valid + label {
            transform: translateY(-35px);
            font-size: 14px;
            color: $primary;
            background: rgba($primary, 0.2);
            border-radius: 5px;
            padding: 2px 6px;
        }
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        display: block;
        transition: 0.5s;
        color: $p-color;
        font-style: italic;
    }

    span {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        background: rgba($primary, 0.5);
        width: 100%;
        height: 2px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #00b0FF;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s all ease-in-out;
        }
    }

    &:focus + span:before, &:valid + span:before {
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.5s all ease-in-out;
    }
}