* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* Global configurations */
html, a, p, h1, h2, h3, h4, div, span, button, input{
  transition: $animation-basic;
  font-family: $font-stack;
  -webkit-appearance: none;
}

html {
  /* Scroll smooth animation */
  /* Not support in IE, or Safari */
  scroll-behavior: smooth
}

h1, h2, h3, h4, h5, h6, b, strong {
  color: $h-color;
}

p { color: $p-color; }

a {
  text-decoration: none;
  color: $primary;
}

p a {
  background-color: rgba($primary, 0.8);
  color: $white;
  padding: {
    left: 5px;
    right: 5px;
    bottom: 2px;
  };
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba($dark-mode-gray-70, 0.5)
}


.typography-hero {
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.05;
}

.typography-hero-copy {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: .007em;
}

