/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: $darkcolor-base;
  }

  .container--article {
    background-color: $darkcolor-base;
  }

  .container--article:nth-child(even) {
    background-color: $darkcolor-secondary;
  }

  .container--article h3 {
    color: $white;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: $white;
  }

  .submit {
    background-color: $darkcolor-secondary !important;
  }

  .submit h1 {
    color: rgba($white, 0.8);
  }

  .submit input[type=email] {
    background-color: $darkcolor-base;
    color: $white;
  }

  button, input[type=submit], input[type=button] {
    display: block;
    margin-top: 25px;
    background: transparent;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
}