/* -------------------------------------------- */
/* ------------------- MODS ------------------- */
/* -------------------------------------------- */
.text_left { text-align: left; }
.text_right { text-align: right; }

.title-indicator_left {
  border-left: 8px solid $primary;
  padding-left: 20px;
}

.title-indicator-right {
  border-right: 8px solid $primary;
  padding-right: 20px;
}

::-moz-selection {
  color: $white;
  background: $primary;
}

::selection {
  color: $white;
  background: rgba($primary, 0.5);
}

.blink {
  animation: blinker 3s cubic-bezier(.5, 0, 1, 1) infinite;
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}

#breadcrumb {
  position: absolute;
  width: 100%;
  background-color: rgba($white, 0.0);
  padding: 10px;

  a {
    padding: 0px 5px;
    text-transform: uppercase;
    font-size: 11px;

    &:nth-child(n):before {
      content: '>';
      margin-right: 10px
    }

    &:nth-last-child(1) {
      color: $white;
    }

    &:hover {
      color: hsl(10, 0%, 90%);
    }
  }
}