// Colors
$white: #FFF;
$black: #000;
$disabled-icon: #BCC0C4;
$disabled-text: #BCC0C4;
$divider: #CED0D4;
$event-date: #F3425F;
$active-icon: #3578E5;
// Font colors
$h-color: #333333;
$p-color: #777777;


// DARK THEME
$comment-background:  #F2F3F5;
$dark-mode-gray-35:  #CCCCCC;
$dark-mode-gray-50:  #828282;
$dark-mode-gray-70:  #4A4A4A;
$dark-mode-gray-80:  #373737;
$dark-mode-gray-90:  #282828;
$dark-mode-gray-100:  #1C1C1C;
$dark-ui-card-border: $dark-mode-gray-90;
$dark-ui-cards:  $dark-mode-gray-100;
$dark-ui-disabled-icon:  $dark-mode-gray-80;
$dark-ui-divider: $dark-mode-gray-90;
$dark-ui-medium-text:  $dark-mode-gray-50;
$dark-ui-nav-bar:  $dark-mode-gray-100;
$dark-ui-primary-icon:  $dark-mode-gray-50;
$dark-ui-primary-text:  #CCCCCC;
$dark-ui-secondary-icon:  $dark-mode-gray-70;
$dark-ui-secondary-text:  $dark-mode-gray-70;
$dark-ui-tab-bar:  $dark-mode-gray-100;
$dark-ui-wash:  #000000;

// COLORS WITH NAME
$c-concrete: #F2F2F2;
$c-niagara: #3BC4B2;

$primary: $c-niagara;

$animation-basic: .3s all ease;
$animation-enter-exit-in:  cubic-bezier(0.14, 1, 0.34, 1);
$animation-enter-exit-out:  cubic-bezier(0.45, 0.1, 0.2, 1);
$animation-expand-collapse-in:  cubic-bezier(0.17, 0.17, 0, 1);
$animation-expand-collapse-out:  cubic-bezier(0.17, 0.17, 0, 1);
$animation-fade-in:  cubic-bezier(0, 0, 1, 1);
$animation-fade-out:  cubic-bezier(0, 0, 1, 1);
$animation-move-in:  cubic-bezier(0.17, 0.17, 0, 1);
$animation-move-out:  cubic-bezier(0.17, 0.17, 0, 1);
$animation-passive-move-in:  cubic-bezier(0.5, 0, 0.1, 1);
$animation-passive-move-out:  cubic-bezier(0.5, 0, 0.1, 1);
$animation-quick-move-in:  cubic-bezier(0.1, 0.9, 0.2, 1);
$animation-quick-move-out:  cubic-bezier(0.1, 0.9, 0.2, 1);
$animation-swap-shuffle-in:  cubic-bezier(0.14, 1, 0.34, 1);
$animation-swap-shuffle-out:  cubic-bezier(0.45, 0.1, 0.2, 1);



$font-stack: 'Inter', sans-serif;

$font-size-xl: 40pt;
$font-size-l: 32pt;

// HEADER SIZES
$medium-header-size: 55vh;


// DARKMODE COLOR
$dark-color-base: #151616;
$dark-color-foreground: #1C1D1D;

$dark-color-text: #81858B;