// Colors
// Light Palette
$white: #FFF;
$black: #000;
$black-100: #111;
$black-200: #222;
$black-300: #333;
$black-400: #444;
$black-500: #555;
$black-600: #666;
$black-700: #777;

// Font colors
$h-color: $black-300;
$p-color: $black-700;

// COLORS WITH NAME
$c-concrete: #F2F2F2;
$c-niagara: #349589;

$primary: $c-niagara;

$anim-stack: .3s all ease;
$anim-time-s: .3s;
$anim-selector: all;
$anim-type: ease;



$font-stack: 'Inter', sans-serif;

$font-size-xl: 40pt;
$font-size-l: 32pt;

// HEADER SIZES
$medium-header-size: 55vh;