extends templates/maintemplt.pug

block title
  title NETLIINKS S.A. | Acerca de

block content
  #about.container
    img(
      src="images/pdf.png",
      class="pdf"
    )
    p catálogo
    span.archPeso 12mb