extends templates/maintemplt.pug

block title
  title NETLIINKS S.A. | Acerca de

block content
  div#about
    div.wrapper

      #breadcrumb
        a(href='index.html') Inicio
        a(href='#') Acerca de

      div.container
        h1.typography-hero Conozca un poco
        h1.typography-hero acerca de nosotros

        p.typography-hero-copy Was but if you can help of full disk encryption. Though open <br> with the company Alphabet as possible from big-name partners <br> like.   To a limited commercial <a href="team.html">roll out again</a>, to the marketplace.

        button(onclick="location.href='index.html'") Volver