extends templates/maintemplt.pug

block title
  title Netliinks

block content
  header
    div.container
      h1 NETLIINKS S.A. <br>
        small Networking &amp; security

  nav.menu-bar
    ul
      li <a href="services.html">Servicios</a>
      li <a href="activities.html">Actividades</a>
      li <a href="https://alecastillo96.github.io/NETLIINKSSA/" class="showcase">Netliinks</a>
      li <a href="about.html">Acerca de</a>
      li <a href="contact.html">Contacto</a>

  div.mobile-spacing

  div.container.container--article#security
    div.article
      img(src='images/milosz-klinowski-BW0d0IllW8E-unsplash.jpg', alt='NETLIINKS SECURITY' class='flex-item')
      div.content
        h3(text-to-left a-title-l) Sistemas de <br> seguridad
        p.text-to-left quid securi etiam tamquam eu fugiat nulla pariatur. Mercedem aut nummos unde unde extricat, amaras. Fabio vel iudice vincam, sunt in culpa qui officia. Quisque placerat facilisis egestas cillum dolore. Morbi fringilla convallis sapien, id pulvinar odio volutpat.

  div.container.container--article#networking
    div.article
      div.content
        h3(text-to-right a-title-r) Networking
        p.text-to-right quid securi etiam tamquam eu fugiat nulla pariatur. Mercedem aut nummos unde unde extricat, amaras. Fabio vel iudice vincam, sunt in culpa qui officia. Quisque placerat facilisis egestas cillum dolore. Morbi fringilla convallis sapien, id pulvinar odio volutpat.
      img(src='images/jordan-harrison-40XgDxBfYXM-unsplash.jpg', alt='NETLIINKS NETWORKING' class='flex-item')

  div.container.container--article#security
    div.article
      img(src='images/elly-brian-s_C8yBxJyvM-unsplash.jpg', alt='NETLIINKS SECURITY' class='flex-item')
      div.content
        h3.text-to-left.a-title-l Soporte <br> técnico
        p.text-to-left quid securi etiam tamquam eu fugiat nulla pariatur. Mercedem aut nummos unde unde extricat, amaras. Fabio vel iudice vincam, sunt in culpa qui officia. Quisque placerat facilisis egestas cillum dolore. Morbi fringilla convallis sapien, id pulvinar odio volutpat.

  div.container
    div.submit
      div.message
        h1  Suscríbete para recibir las últimas noticias y ofertas

        form(action='POST')
          input(type='email')
          input(
            type='submit',
            value='Suscribirse'
          )
      div.img4