#about {
  .wrapper {
    height: 100vh;
    background: {
      image: linear-gradient(to bottom, rgba(0,0,0,0.87), rgba(0,0,0,0)), url('../images/Guayaquil.jpg');
      position: center;
      size: cover;
    };
  }

  h1 {
    font-size: 80px;
    font-weight: 600;
    line-heihgt: 1.05;
    color: $white;
  }

  button, .btn {
    display: block;
    border: 1px solid $white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    color: white;

    &+ * {
      margin-top: 20px;
    }
  }
}