#about {
	.pdf {
		display: block;
		height: 100%;
		width: 50px;
	}

	p {
		font-size: 11px;
		text-transform: uppercase;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.archPeso {
		color: $white;
		font-size: 12px;
		text-transform: uppercase;
		width: 50px;
		padding: 2px 8px;
		background: rgba($primary, .8);
		border-radius: 3px;
	}
}