.content-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.code-error {
  font-size: 150px;
  font-weight: lighter;
  color: $h-color;
}

.error-message {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: $p-color;
  margin-bottom: 40px;
}

.backFromErrorButton {
  background-color: rgba($primary, 0.2);
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bolder;
  border-radius: 5px;

  &:hover {
    background-color: rgba($primary, 0.1);
  }
}