/* ----------------------------------------------------- */
/* ------------------- screen: 930px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 930px */
@media screen and (max-width: 930px) {
  .article .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}