/* --------------------------------------------------- */
/* ------------------- 700px ------------------------- */
/* --------------------------------------------------- */

@media screen and (max-width: 700px) {

  .menu-bar {
    position: fixed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: none;
    }

    .showcaseResp {
      padding: 0 !important;
      font-size: 18px;
    }
  }

  .navigation {
    background: rgba(255, 255, 255, 1);
  }

  .navigation.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    text-transform: uppercase;

    li {
      padding: 20px 0px;
    }

    .showcase {
      display: none;
    }
  }

  /* --------------------------------------------------- */
  /* ------------------- About ------------------------- */
  /* --------------------------------------------------- */
  .typography-hero {
    font-size: 38px;
    font-weight: bolder;
    line-height: 1.05;
  }

  .typography-hero-copy {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .007em;
  }

  .showcaseResp {
    display: block;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    display: inline-block;

    &.active {
      background: url(../images/close.png);
      background-size: 25px;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(1);
      z-index: 11;
    }
  }
}
