/* --------------------------------------------------- */
/* ------------------- screen: 800 ------------------- */
/* --------------------------------------------------- */
/* MEDIA SCREEN FOR 800PX */
@media screen and (max-width: 800px) {
  header {
    background-color: rgba($black, 0.8);
  }

  .article {
    display: block;
  }

  .article .content {
    margin-top: 32px;
  }

  .article h3  {
    margin-bottom: 16pt;
  }

  .article img {
    display: none;
  }

  #security,
  #networking,
  #ti {
    margin-bottom: 20px;
    backdrop-filter: saturate(50px);
    -webkit-backdrop-filter: saturate(50px);
  }

  #security { background-image: url('../images/milosz-klinowski-BW0d0IllW8E-unsplash.jpg'); }

  #networking { background-image: url('../images/jordan-harrison-40XgDxBfYXM-unsplash.jpg'); }

  #ti { background-image:  url('../images/elly-brian-s_C8yBxJyvM-unsplash.jpg'); }

  #security, #networking, #ti {
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;

    .article .content {
      h3 { color: $white; }
      p { color:$white; }
    }
  }

  .submit {
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 5px;
  }

  .submit input[type=submit] {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
  }

  .submit .img4 {
    display: none;
  }

  [text-to-left] { text-align: left; }
  [text-to-right] { text-align: left; }

  [a-title-l] {
    border-left: 8px solid $primary;
    padding-left: 20px;
  }

  [a-title-r] {
    border-left: 8px solid $primary;
    border-right: none;
    padding-left: 20px;
  }
}