/* ----------------------------------------------------- */
/* ------------------- screen: 1024px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 1024px */
@media screen and (max-width: 1024px) {
  .article .content {
    margin-top: 0 !important;
  }
}