/* ----------------------------------------------------- */
/* ------------------- screen: 600px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 600px) {
  .landd {
    display: none;
  }
  .mobile-spacing {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}