/* ----------------------------------------------------- */
/* ------------------- screen: 600px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 600px) {
  /* Add options here */
}