/* --------------------------------------------------- */
/* ------------------- 700px ------------------------- */
/* --------------------------------------------------- */

@media screen and (max-width: 700px) {

  /* --------------------------------------------------- */
  /* ------------------- About ------------------------- */
  /* --------------------------------------------------- */
  .typography-hero {
    font-size: 38px;
    font-weight: bolder;
    line-heihgt: 1.05;
  }

  .typography-hero-copy {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .007em;
  }
  .resp {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;

    .hamb {
      align-self: flex-start;
    }

    .showcase {
      align-self: flex-end;
    }
  }

  .landd {
    display: none;
  }

  .menu-bar {
    border-bottom: 1px solid black;
  }
}
