/* ----------------------------------------------------- */
/* ------------------- screen: 1024px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 1024px */
@media screen and (max-width: 1024px) {
  .container-grilled .content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}