/* Using the 8-point grid */
/*
  Most used screen resolutions

    RESOLUTION    MULTIPLES OF 8    Multiples of 10
  1 1366x768          x ✓                x x
  2 1920x1080         ✓ ✓                ✓ ✓
  3 1280x1024         ✓ ✓                x ✓
  4 1440x900          ✓ x                ✓ ✓
  5 1600x900          ✓ x                ✓ ✓
  6 1280x800          ✓ ✓                ✓ ✓
  7 1024x768          ✓ ✓                x x
  8 1360x768          ✓ ✓                ✓ x

*/

/* RESET ALL STYLES */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-smoothing: all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  box-sizing: border-box;
}

#resp {
  display: none;
}

/* Global font */
body, html, input, button, table {
  font-family: 'Inter', sans-serif;
}

html, body, input, p, h1, h2, h3, h4, h5, h6, table, br, div, a, img, form, button {
  transition: .3s all ease;
}

/* No support in IE, or Safari */
html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

a { 
  text-decoration: none;
  color: #009B8B;
}

h1, h2, h3, h4, h5, h6, b {
  color: #333;
}

p {
  color: #777;
}

/* Container Style */
.container {
  padding: 32pt 32pt;
  width: 100%;
  max-width: 1360px;
  margin: auto;
  /*for mobile and desktop use 16pt*/
}

.container--article { background-color: #F2F2F2; }
.container--article:nth-child(even) { background-color: #FFF; }

header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('../images/collin-armstrong-8FxJi5wuwKc-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-blend-mode: multiply;
}

header h1 {
  color: #FFF;
  font-size: 40pt;
}

header h1 small {
  font-size: 32pt;
  font-weight: 200;
  font-style: italic;
}

/* ------------------------------------------------ */
/* ------------------- Menu-bar ------------------- */
/* ------------------------------------------------ */
.menu-bar {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 16pt;
  padding-bottom: 16pt;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px) saturate(5);
  -webkit-backdrop-filter: blur(8px) saturate(5);
}

/* Remove list dots */
.menu-bar ul { list-style: none; }

/* Align items to center */
.menu-bar li { display: inline-block; }

.menu-bar a {
  padding: 8pt 16pt;
  color: #333;
  transition: .3s all ease;
}

.menu-bar a:hover {
  color: #009B8B;
}

.menu-bar .showcase {
  font-weight: bolder;
  text-transform: uppercase;
}

/* ------------------------------------------------ */
/* ------------------- Articles ------------------- */
/* ------------------------------------------------ */

/* DEFINE GRID SYSTEM */
.article {
  display: grid;
  /* Divide the div into two equal parts */
  grid-template-columns: 1fr 1fr;
  /* space between items */
  grid-gap: 40pt;
  padding-bottom: 32pt;
  padding-top: 32pt;
}

/* CHANGE SIZE OF IMAGES */
.article img {
  width: 100%;
  border-radius: 5px;
}

.article h3 {
  font-size: 22pt;
  margin-bottom: 32pt;
}

.article p { line-height: calc(8pt * 3); }

.article .content {
  margin-bottom: 32pt;
  margin-top: 32pt;
}

/* -------------------------------------------------------- */
/* ------------------- Subscription bar ------------------- */
/* -------------------------------------------------------- */

.submit {
  display:  grid;
  background: rgba(0, 155, 179, 0.13);
  /* Divide the div into two equal parts */
  grid-template-columns: 2fr 1.5fr;
  /* space between items */
  grid-gap: 40pt;
  border-radius: 5px;
}

.submit .message {
  padding:  32pt 26pt;
}

.submit h1 {
  color: #009B8B;
  font-size: 24pt;
  line-height: calc(24px * 1.900);
  margin-bottom: 18pt;
}

.submit input[type=email] {
  -webkit-appearance: none;
  display:  block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #009B8B;
  font-size: 14pt;
  padding: calc(8pt - 5pt);
}

.submit input[type=submit] {
  -webkit-appearance: none;
  display: block;
  border: none;
  border-radius: 5px;
  background-color:  #009B8B;
  color: #FFF;
  padding: 6pt 15pt;
  margin:  14pt 0;
  font-size: 14px;
  cursor:  pointer;
  transition: .3s all ease;
}

.submit input[type=submit]:hover {
  background-color: rgba(0, 155, 179, 0.80);
}

.img4 {
  background-image: url('../images/joanna-kosinska-uGcDWKN91Fs-unsplash.jpg');
  background-size: cover;
  background-position: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ---------------------------------------------- */
/* ------------------- Footer ------------------- */
/* ---------------------------------------------- */


/* ----------------------------------------------------- */
/* ------------------- Extra support ------------------- */
/* ----------------------------------------------------- */
@supports (display: table-cell) and (display: list-item) {

}

/* -------------------------------------------- */
/* ------------------- MODS ------------------- */
/* -------------------------------------------- */
[text-to-left] { text-align: left; }
[text-to-right] { text-align: right; }

[a-title-l] {
  border-left: 8px solid #009B8B;
  padding-left: 20px;
}

[a-title-r] {
  border-right: 8px solid #009B8B;
  padding-right: 20px;
}


/* ----------------------------------------------------- */
/* ------------------- screen: 930px ------------------- */
/* ----------------------------------------------------- */
/* Adaptative display for 930px */
@media screen and (max-width: 930px) {
  .article .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* --------------------------------------------------- */
/* ------------------- screen: 800 ------------------- */
/* --------------------------------------------------- */
/* MEDIA SCREEN FOR 800PX */
@media screen and (max-width: 800px) {
  header {
    background-color: rgba(0,0,0,0.8);
  }

  .article {
    display: block;
  }

  .article .content {
    margin-top: 32px;
  }

  .article h3  {
    margin-bottom: 16pt;
  }

  .article img {
    display: none;
  }

  #security,
  #networking,
  #ti {
    margin-bottom: 20px;
    backdrop-filter: saturate(50px);
    -webkit-backdrop-filter: saturate(50px);
  }

  #security {
    background-image: url('../images/milosz-klinowski-BW0d0IllW8E-unsplash.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

  #networking {
    background-image: url('../images/jordan-harrison-40XgDxBfYXM-unsplash.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

  #ti {
    background-image:  url('../images/elly-brian-s_C8yBxJyvM-unsplash.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

   #security .article .content h3, #networking .article .content h3, #ti .article .content h3 {
    color: rgba(255, 255, 255, 1.0);
  }

  #security .article .content p, #networking .article .content p, #ti .article .content p {
    color: rgba(255, 255, 255, 0.9);
  }

  .submit {
    grid-template-columns: 1fr;
    text-align: center;
    border-radius: 5px;
  }

  .submit input[type=submit] {
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
  }

  .submit .img4 {
    display: none;
  }

  [text-to-left] { text-align: left; }
  [text-to-right] { text-align: left; }

  [a-title-l] {
    border-left: 8px solid #009B8B;
    padding-left: 20px;
  }

  [a-title-r] {
    border-left: 8px solid #009B8B;
    border-right: none;
    padding-left: 20px;
  }
}

/* ----------------------------------------------------- */
/* ------------------- screen: 600px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 600px) {
  .menu-bar {
    display: none;
  }
  .mobile-spacing {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* ----------------------------------------------------- */
/* ------------------- screen: 414px ------------------- */
/* ----------------------------------------------------- */
@media screen and (max-width: 414px) {
  header {
    height: 100vh;
  }

  header h1 {
    font-size: 32pt;
  }

  header h1 small {
    font-size: 22pt;
  }

  .container {
    padding: 18pt;
  }

  .submit h1 {
    font-size: 14pt;
    line-height: 22pt;
  }
}

/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: #151616;
  }

  .container--article {
    background-color: #151616;
  }

  .container--article:nth-child(even) {
    background-color: #1C1D1D;
  }

  .container--article h3 {
    color: #FFF;
  }

  .menu-bar {
    background: rgba(20, 20, 20, 0.9);
  }

  .menu-bar a {
    color: #FFF;
  }

  .submit {
    background-color: #1C1D1D !important;
  }

  .submit h1 {
    color: rgba(255, 255, 255, 0.8);
  }

  .submit input[type=email] {
    background-color: #151616;
    color: #FFF;
  }
}