/* Using the 8-point grid */
/*
  Most used screen resolutions

    RESOLUTION    MULTIPLES OF 8    Multiples of 10
  1 1366x768          x ✓                x x
  2 1920x1080         ✓ ✓                ✓ ✓
  3 1280x1024         ✓ ✓                x ✓
  4 1440x900          ✓ x                ✓ ✓
  5 1600x900          ✓ x                ✓ ✓
  6 1280x800          ✓ ✓                ✓ ✓
  7 1024x768          ✓ ✓                x x
  8 1360x768          ✓ ✓                ✓ x

*/

/* RESET ALL STYLES */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-smoothing: all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  box-sizing: border-box;
}

.resp {
  display: none !important;
}

/* Global font */
body, html, input, button, table {
  font-family: 'Inter', sans-serif;
}

/* No support in IE, or Safari */
html{
  scroll-behavior: auto;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6, b {
  color: #333;
}

p {
  color: #777;
}

/* Container Style */
.container {
  padding: 32pt 32pt;
  width: 100%;
  max-width: 1360px;
  margin: auto;
  /*for mobile and desktop use 16pt*/
}

header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('../images/collin-armstrong-8FxJi5wuwKc-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header h1 {
  color: #FFF;
  font-size: 40pt;
}

header h1 small {
  font-size: 32pt;
  font-weight: 200;
  font-style: italic;
}

/* ------------------------------------------------
  ------------------- Menu-bar -------------------
  ------------------------------------------------ */

.menu-bar {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 16pt;
  padding-bottom: 16pt;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px) saturate(5);
  -webkit-backdrop-filter: blur(10px) saturate(5);
}

/* Remove list dots */
.menu-bar ul { list-style: none; }

/* Align items to center */
.menu-bar li { display: inline-block; }

.menu-bar a {
  padding: 8pt 16pt;
  color: #333;
  transition: .3s all ease;
}

.menu-bar a:hover {
  color: #009B8B;
}

.menu-bar .showcase {
  font-weight: bolder;
  text-transform: uppercase;
}

/* DEFINE GRID SYSTEM */
.article {
  display: grid;
  /* Divide the div into two equal parts */
  grid-template-columns: 1fr 1fr;
  /* space between items */
  grid-gap: 40pt;
  padding-bottom: 32pt;
  padding-top: 32pt;
}

/* CHANGE SIZE OF IMAGES */
.article img {
  width: 100%;
}

.article h3 {
  font-size: 22pt;
  margin-bottom: 32pt;
}
.article--right h3  {
  border-left: 8px solid #009B8B;
  padding-left: 20px;
}

.article--left h3  {
  border-right: 8px solid #009B8B;
  padding-right: 20px;
  text-align: right;
}

.article p { line-height: calc(8pt * 3); }
.article--left img {
  float: right;
}
.article--left p {
  text-align: right; 
  float: left;
}

.article .content {
  margin-bottom: 32pt;
  margin-top: 32pt;
}

.img4 {
  background-image: url('../images/joanna-kosinska-uGcDWKN91Fs-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.submit {
  display:  grid;
  background: rgba(0, 155, 179, 0.13);
  /* Divide the div into two equal parts */
  grid-template-columns: 2fr 1.5fr;
  /* space between items */
  grid-gap: 40pt;
}

.submit .message {
  padding:  32pt 26pt;
}

.submit h1 {
  color: #009B8B;
  font-size: 24pt;
  line-height: calc(24px * 1.900);
  margin-bottom: 18pt;
}

.submit input[type=email] {
  display:  block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #009B8B;
  font-size: 14pt;
  padding: calc(8pt - 5pt);
}

.submit input[type=submit] {
  display: block;
  border: none;
  border-radius: 5px;
  background-color:  #009B8B;
  color: #FFF;
  padding: 6pt 15pt;
  margin:  14pt 0;
  font-size: 14px;
  cursor:  pointer;
  transition: .3s all ease;
}

.submit input[type=submit]:hover {
  background-color: rgba(0, 155, 179, 0.80);
}


.submit img {
  width: 100%;
}

@supports (display: table-cell) and (display: list-item) {

}


/* Adaptative display for 930px */
@media screen and (max-width: 930px) {
  .article .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* MEDIA SCREEN FOR 800PX */
@media screen and (max-width: 800px) {
  header h1 {
    text-shadow: 0 2px 5px rgba(0,0,0,0.8);
  }

  .resp {
    display: block !!important;
  }

  .noresp {
    display: none;
  }

  .article {
    display: block;
  }

  .article .content {
    margin-top: 32px;
  }
  .article h3  {
    margin-bottom: 16pt;
  }
}

/* DARKMODE PARAMETERS */
@media screen and (prefers-color-scheme: dark) {
  /* ... */
}